{% extends "::base.html.twig" %}

{% block title "you won!" | capitalize %}

{% block content %}
    <h2>Congratulations!</h2>

    <p>
        You found the word <strong>{{ foundWord }}</strong> and won this game.
    </p>
{% endblock content %}
